@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Black Slanted'), local('HalvarBreit-BlkSlanted'),
        url('HalvarBreit-BlkSlanted.woff2') format('woff2'),
        url('HalvarBreit-BlkSlanted.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Black'), local('HalvarBreit-Blk'),
        url('HalvarBreit-Blk.woff2') format('woff2'),
        url('HalvarBreit-Blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Black SuperSlanted'), local('HalvarBreit-BlkSuSlanted'),
        url('HalvarBreit-BlkSuSlanted.woff2') format('woff2'),
        url('HalvarBreit-BlkSuSlanted.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Light'), local('HalvarBreit-Lt'),
        url('HalvarBreit-Lt.woff2') format('woff2'),
        url('HalvarBreit-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Hairline SuperSlanted'), local('HalvarBreit-HlSuSlanted'),
        url('HalvarBreit-HlSuSlanted.woff2') format('woff2'),
        url('HalvarBreit-HlSuSlanted.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Medium'), local('HalvarBreit-Md'),
        url('HalvarBreit-Md.woff2') format('woff2'),
        url('HalvarBreit-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift ExtraThin SuperSlanted'), local('HalvarBreit-XThSuSlanted'),
        url('HalvarBreit-XThSuSlanted.woff2') format('woff2'),
        url('HalvarBreit-XThSuSlanted.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Bold'), local('HalvarBreit-Bd'),
        url('HalvarBreit-Bd.woff2') format('woff2'),
        url('HalvarBreit-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Medium SuperSlanted'), local('HalvarBreit-MdSuSlanted'),
        url('HalvarBreit-MdSuSlanted.woff2') format('woff2'),
        url('HalvarBreit-MdSuSlanted.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Hairline Slanted'), local('HalvarBreit-HlSlanted'),
        url('HalvarBreit-HlSlanted.woff2') format('woff2'),
        url('HalvarBreit-HlSlanted.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Regular Slanted'), local('HalvarBreit-RgSlanted'),
        url('HalvarBreit-RgSlanted.woff2') format('woff2'),
        url('HalvarBreit-RgSlanted.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift ExtraBold'), local('HalvarBreit-XBd'),
        url('HalvarBreit-XBd.woff2') format('woff2'),
        url('HalvarBreit-XBd.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift ExtraThin Slanted'), local('HalvarBreit-XThSlanted'),
        url('HalvarBreit-XThSlanted.woff2') format('woff2'),
        url('HalvarBreit-XThSlanted.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Thin SuperSlanted'), local('HalvarBreit-ThSuSlanted'),
        url('HalvarBreit-ThSuSlanted.woff2') format('woff2'),
        url('HalvarBreit-ThSuSlanted.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift ExtraBold SuperSlanted'), local('HalvarBreit-XBdSuSlanted'),
        url('HalvarBreit-XBdSuSlanted.woff2') format('woff2'),
        url('HalvarBreit-XBdSuSlanted.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Regular SuperSlanted'), local('HalvarBreit-RgSuSlanted'),
        url('HalvarBreit-RgSuSlanted.woff2') format('woff2'),
        url('HalvarBreit-RgSuSlanted.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift ExtraBold Slanted'), local('HalvarBreit-XBdSlanted'),
        url('HalvarBreit-XBdSlanted.woff2') format('woff2'),
        url('HalvarBreit-XBdSlanted.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Light SuperSlanted'), local('HalvarBreit-LtSuSlanted'),
        url('HalvarBreit-LtSuSlanted.woff2') format('woff2'),
        url('HalvarBreit-LtSuSlanted.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Thin'), local('HalvarBreit-Th'),
        url('HalvarBreit-Th.woff2') format('woff2'),
        url('HalvarBreit-Th.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift ExtraThin'), local('HalvarBreit-XTh'),
        url('HalvarBreit-XTh.woff2') format('woff2'),
        url('HalvarBreit-XTh.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Bold SuperSlanted'), local('HalvarBreit-BdSuSlanted'),
        url('HalvarBreit-BdSuSlanted.woff2') format('woff2'),
        url('HalvarBreit-BdSuSlanted.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Thin Slanted'), local('HalvarBreit-ThSlanted'),
        url('HalvarBreit-ThSlanted.woff2') format('woff2'),
        url('HalvarBreit-ThSlanted.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Light Slanted'), local('HalvarBreit-LtSlanted'),
        url('HalvarBreit-LtSlanted.woff2') format('woff2'),
        url('HalvarBreit-LtSlanted.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Hairline'), local('HalvarBreit-Hl'),
        url('HalvarBreit-Hl.woff2') format('woff2'),
        url('HalvarBreit-Hl.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Medium Slanted'), local('HalvarBreit-MdSlanted'),
        url('HalvarBreit-MdSlanted.woff2') format('woff2'),
        url('HalvarBreit-MdSlanted.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Bold Slanted'), local('HalvarBreit-BdSlanted'),
        url('HalvarBreit-BdSlanted.woff2') format('woff2'),
        url('HalvarBreit-BdSlanted.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Hairline'), local('HalvarBreit-Hl'),
        url('HalvarBreit-Hl_1.woff2') format('woff2'),
        url('HalvarBreit-Hl_1.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Regular'), local('HalvarBreit-Rg'),
        url('HalvarBreit-Rg.woff2') format('woff2'),
        url('HalvarBreit-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('Montserrat-Medium.woff2') format('woff2'),
        url('Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}